#navbar {
    /* width: 100%; */
    height: 80px;
    background: #0E2E39;
    color: white;
    display: flex;
    justify-content: space-between;

    padding: 0% 2%;
}

#loginDiv {
    display: flex;
    gap: 10px;
    font-weight: 600;
    align-items: center;
}

#loginDiv>p:hover {
    color: #EFCB0F;
    cursor: pointer;
}